<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/article.css'/>
</head>
<body>
<div class="index-box">
    <div>
        <h1>欢迎！请先登录或注册</h1>
    </div>
    <div>
        <p>
            <a href="/reg/login">登录</a>
            <a href="/reg/register">注册</a>
        </p>
    </div>
</div>
</body>
</html>


