<% include ../header.ejs %>


<div class="tabbable nav-tabs-box">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">修改密码</a></li>
        <li role="presentation"><a href="#tab2" data-toggle="tab">其他</a></li>
        <li role="presentation"><a href="#tab3" data-toggle="tab">其他</a></li>
        <li role="presentation"><a href="#tab4" data-toggle="tab">其他</a></li>
    </ul>

    <div class="tab-content nav-stacked">
        <div class="tab-pane" id="tab1">

        </div>

        <div class="tab-pane" id="tab2">
            <p>222</p>
        </div>

        <div class="tab-pane" id="tab3">
            <p>333</p>
        </div>

        <div class="tab-pane" id="tab4">
            <p>444</p>
        </div>

    </div>

</div>





























<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">修改密码</button>-->

<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"-->
<!--data-backdrop="static">-->
<!--<div class="modal-dialog">-->
<!--<form autocomplete='off' method='post' action='/my/myself'>-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--<h4 class="modal-title" id="myModalLabel">修改密码</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->

<!--<div class="form-inline">-->
<!--<div class="form-group has-feedback">-->
<!--<label class="control-label">原密码：</label>-->
<!--<input type="text" class="form-control" name='oldPwd' placeholder="请输入原密码">-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-inline">-->
<!--<div class="form-group has-feedback">-->
<!--<label class="control-label">新密码：</label>-->
<!--<input type="password" class="form-control" name="newPwd" placeholder="请输入新密码">-->
<!--<span class="glyphicon glyphicon-eye-close form-control-feedback"></span>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
<!--<button type="submit" class="btn btn-primary">修改</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->


<% include ../footer.ejs %>



